<div ng-init="mappedtask = getMappedTask(removeSpace(getAccountDetails().accounttype))">

    <div class="uk-width-1-1 tm-no-space-small uk-visible-small ">
        <ul class="uk-grid uk-grid-width-1-4 tm-mobile-menu">
            <li ng-repeat="task in mappedtask" ng-click="gotoAccountSpecific(removeSpace(task), accountData)">
                <p ng-class="{'tm-bold':mainAccountNavSelected('/account/details/'+removeSpace(task))}">{{task | titleCase}}</p>
            </li>
        </ul>

    </div>

    <div class="uk-width-1-1">

        <div class="uk-grid">

            <!-- Main content begin here -->
            <div class="uk-width-medium-8-10 uk-width-small-1-1  ">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary tm-main-panel tm-account-details-back">
                    <div class="uk-grid " ng-class="'tm-back-'+removeSpace(getAccountDetails().accounttype)">
                        <div class="uk-width-medium-5-10 uk-width-small-1-1">
                            <div class="uk-align-left">
                                <div class="uk-margin-remove uk-h3"><b>{{getAccountDetails().accounttype | titleCase}} Account</b></div>
                                <b>{{getAccountDetails().accountnumber}}</b>
                            </div>
                        </div>
                        <div class="uk-width-medium-5-10 uk-width-small-1-1">
                            <div class="uk-grid uk-hidden-small">

                                <div class="uk-width-3-6 uk-padding-remove tm-available-balance">
                                    <b>Available Balance:</b>
                                </div>
                                <div class="uk-width-1-6 tm-currency">
                                    <b>{{getAccountDetails().currency}}$</b>
                                </div>
                                <div class="uk-width-2-6 uk-padding-remove">
                                    <div class="uk-h2 tm-text-vertical-align-top">

                                        {{getAccountDetails().availablebalance}}
                                    </div>
                                </div>
                            </div>
                            <div class="uk-visible-small uk-margin-top">
                                <b>Available Balance: {{getAccountDetails().currency}} {{getAccountDetails().availablebalance}}</b>
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin-top uk-margin-left uk-margin-right">
                        <div ng-repeat="task in mappedtask">
                            <div ng-if="specificContent() == removeSpace(task)">
                                <div ng-include="'/views/main/account/specific/'+removeSpace(task)+'/template.html'"></div>
                            </div>

                        </div>
                    </div>




                </div>
            </div>
            <!-- Main content ends here -->
            <!-- Navigation begin here -->
            <div class="uk-width-2-10 uk-hidden-small">
                <div class="uk-grid">
                    <div class="uk-width-2-10">
                        <ul class="nav uk-nav uk-text-center ">
                            <li class="main-account-nav-button" ng-repeat="task in mappedtask" ng-click="gotoAccountSpecific(removeSpace(task), accountData)" ng-class="{'main-account-nav-selected':mainAccountNavSelected('/account/details/'+removeSpace(task))}">
                                <p class="uk-margin-top uk-h5">
                                      
                                    {{task | titleCase}}
                                    
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- Navigation ends here -->
        </div>
    </div>


        <div class="container main-account-list">
            
            <div id="frame" >
                <ul class="slidee">
                    <li ng-repeat="otherAccount in otherAccountData(getAccountDetails())"   ang-sly>
                        <div class="uk-panel uk-panel-box" ng-class="'tm-back-'+removeSpace(otherAccount.accounttype)">
                            
                          

                            
                            <div class="uk-margin-remove uk-h4" ng-class="'tm-back-'+removeSpace(accountlist.accounttype)">
                            <b>{{otherAccount.accounttype | titleCase}} Account</b></div>
                            <b>{{otherAccount.accountnumber}}</b>
                        <b class="uk-align-center uk-h1 tm-bottom-account"><span class="uk-h4 tm-text-vertical-align-top ">USD$</span> {{otherAccount.availablebalance | currency:""}}</b>
                        </div>

                    </li>
                </ul>
            </div>
            <div class="scrollbar">
                <div class="handle">
                    <div class="mousearea"></div>
                </div>
            </div>
        </div>
   
   
   

</div>