
									<form action="#" class="uk-form">
										<fieldset>
											<span class="login-show-forgetpass uk-align-left uk-icon-medium uk-icon-caret-up"></span>
											
											<div class="uk-form-row">
												<input type="text" placeholder="Username" class="transparent-button uk-width-1-1 uk-form-large" style="border:transparent">
											</div>

											<div class="uk-form-row">
												<input type="text" placeholder="ATM Card Number" class="transparent-button uk-width-1-1 uk-form-large" style="border:transparent">
											</div>

											<div class="uk-form-row">
												<input type="text" placeholder="IC / Passport" class="transparent-button uk-width-1-1 uk-form-large" style="border:transparent">
											</div>

											<div class="uk-form-row">
												<a href="#" class="login-button uk-width-1-1 uk-button uk-button-primary uk-button-large">LOGIN</a>
											</div>				

										</fieldset>
									</form>
