<nav class="off-canvas__nav" ng-swipe-left="nav.toggle()">

        <ul class="uk-nav uk-text-center uk-nav-offcanvas" data-uk-nav>
            <li class="uk-margin-top uk-margin-bottom"><a href="#">Hans Tjipto</a>
            </li>
            
            <li class="main-nav-off-canvas-selected">
                    <p class="main-nav-button ">
                        <span class="uk-icon-user uk-icon-small"></span>
                        <br>Account
                    </p>
                </li>
                <li>
                    <p class="main-nav-button ">
                        <span class="uk-icon-question uk-icon-small"></span>
                        <br>Help
                    </p>
                </li>
                <li>
                    <p class="main-nav-button ">
                        <span class="uk-icon-rocket uk-icon-small"></span>
                        <br>Tour
                    </p>
                </li>
            
            
        </ul>

</nav>