html,
body {
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    background-color: $color-main-background;
}

.nav > * {
    background: $color-dark-grey;
    height: 80px;
    width: 80px;
    &:hover {
        background: $color-light-dark-grey;
    }
}

.ct-grids>line:nth-child(6){
    stroke-width:5px;
    stroke-dasharray: 0px;
    stroke:$color-dark-grey;    
    z-index: 1010;
}

.ct-grids>line:not(:nth-child(6)){
    display:none;
}
@media screen and (min-width: 1024px) {
#frame {
	
    margin: 0px 0px;
    padding: 10px 0px; //(ver,hor)
    width:100%;
    height:120px;
	overflow: hidden;
}
}
@media screen and (min-width: 768px) and (max-width: 1023px){
#frame {
	
 
    margin: 0px 0px;
    padding: 0px 5px; //(ver,hor)
	overflow: hidden;
    height:300px;
}
}
@media screen and (max-width: 767px) {
#frame {
	
    margin: 0px 0px;
    padding: 0px 5px; //(ver,hor)
	overflow: hidden;
    height:300px;
}
}

@media screen and (min-width: 1024px) {
.slidee {
	list-style: none;
	
    padding: 0px 0px;
	height: 100%;
    

}
}
@media screen and (min-width: 768px) and (max-width: 1023px){
.slidee {
	list-style: none;
	
    padding: 0px 0px;
	height: 100%;
    width: 100% !important;

}
}
@media screen and (max-width: 767px) {
.slidee {
	list-style: none;
	
    padding: 0px 0px;
	height: 100%;
    width: 100% !important;

}
}


@media screen and (min-width: 1025px) {
.slidee li {
	float: right;
	height: 100%;
	margin-left: 5px;

	color: white;

	
	cursor: pointer;
}
}
@media screen and (min-width: 1023px)and (max-width: 1024px)  {
.slidee li {
	float: right;
	height: 100%;
	margin-left: 5px;

	color: white;

	width:162px;
	cursor: pointer;
}
}
@media screen and (min-width: 768px) and (max-width: 1022px) {
.slidee li {

	color: white;
    margin-top: 10px;
	
	cursor: pointer;
        
}
}
@media screen and (max-width: 767px) {
.slidee li {
	

	color: white;
    margin-top: 10px;
	
}
}
@media screen and (max-width: 767px) {
.scrollbar {
	
	    width: 2px;
    height: 100%;
    background: #ccc;

    position: absolute;
    
    top: 0;
    left: 0;
}
}
@media screen and (min-width: 1024px) {
.scrollbar {
	margin: 0 0 1em 0;
	height: 2px;
	background: #ccc;
	line-height: 0;
}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
.scrollbar {
	    width: 2px;
    height: 100%;
    background: #ccc;

    position: absolute;
    
    top: 0;
    left: 0;
}
}
@media screen and (max-width: 767px) {
.scrollbar .handle {
	height: 20px;
	width: 100%;
	background: #292a33;
	cursor: pointer;
}
}
@media screen and (min-width: 1024px) {
.scrollbar .handle {
	width: 100px;
	height: 100%;
	background: #292a33;
	cursor: pointer;
}
}
@media screen and (min-width: 768px) and (max-width: 1023px){
.scrollbar .handle {
	height: 20px;
	width: 100%;
	background: #292a33;
	cursor: pointer;
}
}
@media screen and (max-width: 767px) {
.scrollbar .handle .mousearea {
	position: absolute;
	right: -6px;
	top: 0;
	height: 100%;
	width: 20px;
}
}
@media screen and (min-width: 1024px) {
.scrollbar .handle .mousearea {
	position: absolute;
	top: -9px;
	left: 0;
	width: 100%;
	height: 20px;
}
}

@media screen and (min-width: 768px) and (max-width: 1023px){
.scrollbar .handle .mousearea {
	position: absolute;
	right: -6px;
	top: 0;
	height: 100%;
	width: 20px;
}
}
#favouritetrans-frame{
   padding: 0; 
    width: 600px; 
    height: 200px;
    overflow: hidden;
}
#favouritetrans-frame .slidee { 
    margin: 0; padding: 0; width: 100%; list-style: none;
}
#favouritetrans-frame .slidee li { 
    ffloat: left; margin: 0 0 5px 0; padding: 0; width: 100%; height: 100px;
}

.vertical-scrollbar { 
    width: 2px; 
    line-height: 0;
}
.vertical-scrollbar .handle {
    width: 100%;
    height: 100px; /* overriden if dynamicHandle: 1 */
    	background: #292a33;
	cursor: pointer;
}
.vertical-scrollbar .handle .mousearea {
	position: absolute;
	top: -9px;
	left: 0;
	height: 100%;
	width: 20px;
}
