@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

$color-main-background:#F5F5F5;
$color-main-content:#eeeeee;

$color-light-grey: #ECF0F1;
$color-light-darker-grey: #e2e3e3;

$color-dark-grey: #494C50;
$color-darker-grey: #34363b;
$color-light-dark-grey: #4e5357;

$color-mild-grey: #646464;

$color-footer-color: #c1c0c0;
$color-form-white: #fff;

$color-login-button: #84878c;
$color-login-button-hover: #b8bcc3;

$color-fixed-deposit-account: #95A5A6;
$color-current-account: #D2D7D3;
$color-saving-account: #DADFE1;
$color-loan-account: #bdc3c7;

$color-assets: #ecf0f1;
$color-liabilities:#ecf0f1;

$show-margin : 5%;