@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

$color-main-background:#F5F5F5;
$color-main-content:#eeeeee;

$color-light-grey: #ECF0F1;
$color-light-darker-grey: #e2e3e3;

$color-dark-grey: #494C50;
$color-darker-grey: #34363b;
$color-light-dark-grey: #4e5357;

$color-mild-grey: #646464;

$color-footer-color: #c1c0c0;
$color-form-white: #fff;

$color-login-button: #84878c;
$color-login-button-hover: #b8bcc3;

$color-fixed-deposit-account: #f1c40f;
$color-current-account: #2ecc71;
$color-saving-account: #3498db;
$color-loan-account: #c0392b;

$color-assets: #9b59b6;
$color-liabilities:#e74c3c;

$show-margin : 5%;